export VYOS_ISO_NAME_SUFFIX="-generic-amd64"

## vyos-1.5-rolling-202405260021-amd64.iso
# export VYOS_ROLLING_VERSION=1.5-rolling-202405260021

## vyos-1.5-rolling-202410280007-generic-amd64.iso
# export VYOS_ROLLING_VERSION=1.5-rolling-202410280007

## https://github.com/vyos/vyos-nightly-build/releases/download/2025.06.24-0020-rolling/vyos-2025.06.24-0020-rolling-generic-amd64.iso
##   2025.06.24-0020-rolling
##   vyos-2025.06.24-0020-rolling-generic-amd64.iso
export VYOS_ROLLING_VERSION=2025.06.24-0020-rolling
