# /etc/systemd/system/knockport.timer

### instructions to set up
# cp var/knockport.timer /etc/systemd/system/knockport.timer
# systemctl daemon-reload
# systemctl enable knockport.timer
# systemctl start knockport.timer

[Unit]
# This is needed in case nftables are not yet properly loaded which causes backend traffic
# not to get through even though KnockPort created all needed nftables rules
Description=Delay knockport service for 60s after boot

[Timer]
OnBootSec=60
Unit=knockport.service

[Install]
WantedBy=timers.target
