# /etc/systemd/system/knock-port.service

### instructions to set up
# cp var/knock-port.service.dist var/knock-port.service
# Edit var/knock-port.service to configure User and ExecStart based on your setup
# cp var/knock-port.service /etc/systemd/system/knock-port.service
# systemctl daemon-reload
# # service needs to be disabled because we're using a timer (knock-port.timer) to do a delayed start on boot
# systemctl disable knock-port.service
# systemctl start knock-port.service
# systemctl status knock-port.service
# journalctl -u knock-port.service
# journalctl -fu knock-port.service

[Unit]
Description=Port knocking service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

# Configuration for non-root user (recommended)
User=knockport
Group=knockport
WorkingDirectory=/home/knockport/knock-port
# python -m venv ~/python-knockport
ExecStartPre=/home/knockport/python-knockport/bin/pip install -r requirements.txt
# Non-root user with --run-with-sudo (recommended)
ExecStart=/home/knockport/python-knockport/bin/python src/main.py -c config/config.yaml --firewall-type nftables --http-port 80 --https-port 443 --cert tests/knock-port.testing.pem --key tests/knock-port.testing.key --run-with-sudo
Environment="PATH=/home/knockport/python-knockport/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Configuration for root user (alternative)
# User=root
# Group=root
# WorkingDirectory=/app
# ExecStartPre=/root/python-knockport/bin/pip install -r requirements.txt
# ExecStart=/root/python-knockport/bin/python src/main.py -c config/config.yaml --firewall-type nftables --http-port 80 --https-port 443 --cert tests/knock-port.testing.pem --key tests/knock-port.testing.key
# Environment="PATH=/root/python-knockport/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

Restart=always

## alternatively output to a logfile
# StandardOutput=append:/var/log/knock-port.log
## stderr also to logfile
# StandardError=append:/var/log/knock-port.log
## .. or to systemd journal
# StandardError=inherit

TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
