#!/bin/bash

# Sending request and checking if log file timestamp is older than TTL.
# In such case it's considered that the service got stuck so we restart it

LOGFILE_PATH=/var/log/knock-port.log
TTL=10

log() {
    echo -e "--> $(date) : $1"
}

echo
log "Sending HTTP request"
curl -s -m 1 -d 'app=openvpn&access_key=test-ping-key' http://127.0.0.1/step-1
log "sleep 5"
sleep 5

FILE_TIMESTAMP=$(stat -c %Y ${LOGFILE_PATH})
CURRENT_UNIXTIME=$(date +%s)
DIFF=$((CURRENT_UNIXTIME-FILE_TIMESTAMP))
if [[ "${DIFF}" -gt "${TTL}" ]]; then
    log "File ${LOGFILE_PATH} is older than ${TTL} : ${DIFF} s"
    log "/usr/sbin/service knock-port restart"
    /usr/sbin/service knock-port restart
else
    log "OK. File ${LOGFILE_PATH} is less than ${TTL}s old : ${DIFF}s"
fi

# Checking if there are ESTABLISHED connections to
# either port 80 or 443 for some unknown reason
# In such case we restart KnockPort as it means there's
# some undesired behaviour, might be some rouge connection
MATCH=0
for COUNT in {1,2,3,4} ; do
    if [ "$MATCH" = "3" ]; then
        log "There's established connection to the HTTP/HTTPS port within 2 seconds which is unusual"
        log "/usr/sbin/service knock-port restart"
        /usr/sbin/service knock-port restart
        break
    fi
    log "netstat -nap | grep -P ':80 |:443 ' | grep ESTA"
    if netstat -nap | grep -P ':80 |:443 ' | grep ESTA ; then
        MATCH=$((MATCH+1))
    fi
    sleep 1
done
