#!/bin/bash

# This script was created at the start of development when KnockPort would occasionally freeze
# There's no more freezes but the script is still here.

## to set this up on VyOS
# set system task-scheduler task knock_port_freeze_restart executable path '/home/knockport/knock-port/var/knockport-freeze-restart.run.sh'
# set system task-scheduler task knock_port_freeze_restart interval '5m'


KNOCKPORT_HOST=127.0.0.1
KNOCKPORT_HTTP_PORT=8080
KNOCKPORT_HTTP_URL_PATH=/step-1
KNOCKPORT_HTTPS_PORT=8443

log() {
    echo -e "--> $(date) : $1"
}

# Sending request and checking if knock-port log file got updated - if timestamp is older than TTL then it has not updated.
# In such case it's considered that the service got stuck so we restart it

TTL=10

echo
log "Sending HTTP request"
if curl -s -m 1 -i -d 'app=healthcheck&access_key=1234567890' http://${KNOCKPORT_HOST}:${KNOCKPORT_HTTP_PORT}${KNOCKPORT_HTTP_URL_PATH} | grep "200 OK" >/dev/null ; then
    log "OK. KnockPort responded with 200"
else
    log "Error. KnockPort did not responded with 200, restarting KnockPort"
    log "/usr/sbin/service knock-port restart"
    /usr/sbin/service knock-port restart
fi

# Checking if there are ESTABLISHED connections to
# either HTTP or HTTPS port for some unknown reason
# In such case we restart KnockPort as it means there's
# some undesired behaviour, might be some rouge connection
MATCH=0
for COUNT in {1,2,3,4} ; do
    if [ "$MATCH" = "3" ]; then
        log "There's established connection to the HTTP/HTTPS port within 3 seconds which is unusual"
        log "/usr/sbin/service knock-port restart"
        /usr/sbin/service knock-port restart
        break
    fi
    # log "ss -Htan state established \"( dport = :${KNOCKPORT_HTTP_PORT} or dport = :${KNOCKPORT_HTTPS_PORT} )\" | grep -q ."
    if ss -Htan state established "( dport = :${KNOCKPORT_HTTP_PORT} or dport = :${KNOCKPORT_HTTPS_PORT} )"  | grep -q . >/dev/null; then
        # at least 1 established connection
        MATCH=$((MATCH+1))
    fi

    sleep 1
done

if [ "${MATCH}" = "0" ]; then
    log "OK. No persisting connections on ports ${KNOCKPORT_HTTP_PORT} or ${KNOCKPORT_HTTPS_PORT}"
fi
