# /etc/systemd/system/knockport.service

### instructions to set up
# cp var/knockport.service.dist var/knockport.service
# Edit var/knockport.service to configure User and ExecStart based on your setup
# cp var/knockport.service /etc/systemd/system/knockport.service
# systemctl daemon-reload
# # service needs to be disabled because we're using a timer (knockport.timer) to do a delayed start on boot
# systemctl disable knockport.service
# systemctl start knockport.service
# systemctl status knockport.service
# journalctl -u knockport.service
# journalctl -fu knockport.service

[Unit]
Description=Port knocking service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

# Configuration for non-root user (recommended)
User=knockport
Group=knockport
WorkingDirectory=/home/knockport/knock-port
# python -m venv ~/python-knockport
ExecStartPre=/home/knockport/python-knockport/bin/pip install -r requirements.txt
# Non-root user with --use-sudo (recommended)
ExecStart=/home/knockport/python-knockport/bin/python src/main.py -c config/config.yaml --firewall-type nftables --http-port 80 --https-port 443 --cert tests/knockport.testing.pem --key tests/knockport.testing.key --use-sudo
Environment="PATH=/home/knockport/python-knockport/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Configuration for root user (alternative)
# User=root
# Group=root
# WorkingDirectory=/app
# ExecStartPre=/root/python-knockport/bin/pip install -r requirements.txt
# ExecStart=/root/python-knockport/bin/python src/main.py -c config/config.yaml --firewall-type nftables --http-port 80 --https-port 443 --cert tests/knockport.testing.pem --key tests/knockport.testing.key
# Environment="PATH=/root/python-knockport/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

Restart=always

## alternatively output to a logfile
# StandardOutput=append:/var/log/knockport.log
## stderr also to logfile
# StandardError=append:/var/log/knockport.log
## .. or to systemd journal
# StandardError=inherit

TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
