
global:
  http_post_path: /1-SECRET    # limited to 10 characters due to nftables firewall limits, set custom value case-sensitive ([a-zA-Z0-9] - that's 62^10 combinations = 8,4*10^17 - that's almost a billion billions - enough), don't leave it default
  https_post_path: /2-SECRET   # set custom value (not length limited), don't leave it default
  step1_2_rate_limit_per_minute: 5
  interface_ext: eth0
  interface_int: eth0  # used in case of non-local service
  2fa_config_folder: config/2fa
  healthcheck_app_name: healthcheck # app name for healthcheck

openvpn:
  port: 1194
  access_key_http:
    - secret123_http
    - secret456_http
  access_key_https:
    - secret123_https
    - secret456_https
  # destination: Can be "local" or "IP" or "IP:PORT" - "local" uses the local server, "IP:PORT" forwards requests to the specified IP address and port
  destination: local
  protocol: udp
  duration: 86400   # 24h ; Duration in seconds
  # interface_ext: eth0  # optional, if different than global.interface_ext
  # interface_int: eth0  # optional, if different than global.interface_int
  step2_https_duration: 5

http:
  port: 80   # WARNING: if you set here the same port as KnockPort http port, then the requests will start going to the backend server and not KnockPort and you'll loose access to KnockPort . Same goes for HTTPS port
  access_key_http:
    - secret_http
  access_key_https:
    - secret_https
  # destination: Can be "local" or "IP" or "IP:PORT" - "local" uses the local server, "IP:PORT" forwards requests to the specified IP address and port
  destination: 192.168.0.40:80
  protocol: tcp
  duration: 86400   # 24h ; Duration in seconds
  step2_https_duration: 5

ssh:
  port: 2222   # WARNING: don't set 22 here since you're most probably running sshd on port 22 on this server host
  access_key_http:
    - secret_http
  access_key_https:
    - secret_https
  # destination: Can be "local" or "IP" or "IP:PORT" - "local" uses the local server, "IP:PORT" forwards requests to the specified IP address and port
  destination: 192.168.0.42:22
  protocol: tcp
  duration: 86400   # 24h ; Duration in seconds
  step2_https_duration: 5

# mysql:
#   port: 3306
#   access_key_http: secret789_http
#   access_key_https: secret012_https
#   destination: 192.168.0.30:4306  # 'local' or IP[:PORT] (uses port field value if :port omited)
#   protocol: udp
#   duration: 3600  # Duration in seconds
#   step2_https_duration: 5
