
global:
  http_post_path: /step-1
  https_post_path: /step-2
  step1_2_rate_limit_per_minute: 5
  interface_ext: eth0
  interface_int: eth0  # used in case of non-local service

openvpn:
  port: 1194
  access_key_http:
    - secret123_http
    - secret456_http
  access_key_https:
    - secret123_https
    - secret456_https
  destination: local
  protocol: tcp
  duration: 86400   # 24h
  # interface_ext: eth0  # optional, if different than global.interface_ext
  # interface_int: eth0  # optional, if different than global.interface_int
  step2_https_duration: 60

# mysql:
#   port: 3306
#   access_key_http: secret123_http
#   access_key_https: secret123_https
#   destination: 192.168.0.30  # 'local' or IP (listening on the same port)
#   protocol: tcp
#   duration: 10  # Duration in seconds
#   step2_https_duration: 60
