
openvpn:
  port: 1194
  access_key_http:
    - secret123_http
    - secret456_http
  access_key_https:
    - secret123_https
    - secret456_https
  destination: local
  protocol: tcp
  duration: 10
  interface: eth0

# mysql:
#   port: 3306
#   access_key_http: secret123_http
#   access_key_https: secret123_https
#   destination: 192.68.0.30  # 'local' or IP (listening on the same port)
#   protocol: tcp
#   duration: 10  # Duration in seconds
#   interface: eth0
